<section class="footer">
  <img ngSrc="assets\tarot-star.png" priority width="100" height="100" alt="" />
  <h3>
    Você está pronta para olhar para dentro e despertar com leveza através do
    tarô & do baralho cigano?
  </h3>
  <div class="social-medias poppins-regular">
    <div class="phone">
        <span class="material-symbols-outlined phone-icon"> phone_iphone </span>
      <a href="" target="_blank">
        <span>(61)99999-9999</span>
      </a>
    </div>

    <div class="instagram">
      <a href="https://www.instagram.com/" target="_blank">
        <span>&commat;Instagram</span>
      </a>
    </div>

    <div class="tiktok">
      <a href="https://www.tiktok.com/pt-BR/" target="_blank">
        <span>&commat;Tiktok</span>
      </a>
    </div>
  </div>
</section>
