@import '../../../color-variables.scss';

.header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 128px;
    margin-left: 4vw;
    overflow: hidden;
}

.text-header {
    margin-top: 24px;
    h1 {
        width: 55vw;
        font-size: 4.6em ;
        font-weight: 300;
        line-height: 1.2;
        margin-left: 8px;
    }

    p {
        width: 70vw;
        font-size: 1.7rem;
        margin: 0;
    }

    .link-phrase {
        margin-left: 4vw;
        margin-top: 78px;
        font-size: 1.5rem;

        a {
            color: $text-primary;
            text-decoration: none;
        }
    }
}

.image-header {
    transform: rotate(250deg);
    margin-left: -108px;
}