<section class="header">
  <div class="text-header">
    <h1>Leituras de tarô & baralho cigano</h1>
    <p class="padauk-regular">Que bom te ver por aqui!</p>
    <p class="padauk-regular">
      De forma leve e descontraída iremos olhar para os movimentos internos e
      externos a fim de encontrar respostas, orientações e direcionamentos que
      te auxiliem no seu processo de autoconhecimento e/ou decisão. Então
      prepara sua água ou chá, caneta/lápis, bloco de anotações, e vamos
      mergulhar — será um prazer te atender!
    </p>
    <p class="padauk-regular link-phrase">
        <span>— vagas para maio & junho — </span>
        <a href="">clique aqui para agendar sua consulta</a>
    </p>
  </div>
  <div class="image-header"></div>
</section>
