<section class="header">
  <div class="text-header">
    <h1>Leituras de tarô & baralho cigano</h1>
    <p class="poppins-regular">Que bom te ver por aqui!</p>
    <p class="poppins-regular">
      De forma leve e descontraída iremos olhar para os movimentos internos e
      externos a fim de encontrar respostas, orientações e direcionamentos que
      te auxiliem no seu processo de autoconhecimento e/ou decisão. Então
      prepara sua água ou chá, caneta/lápis, bloco de anotações, e vamos
      mergulhar — será um prazer te atender!
    </p>
    <p class="poppins-regular link-phrase">
      <span>— agenda aberta — </span>
      <a
        href="https://api.whatsapp.com/send?phone=5561982107195&text=Ol%C3%A1!%20Gostaria%20de%20agendar%20uma%20consulta%20de%20tar%C3%B4%20"
        target="_blank"
        class="poppins-bold"
        >clique aqui para agendar sua consulta</a
      >
    </p>
  </div>
  <div class="image-header">
    <img
      ngSrc="./assets/tarot-cards.png"
      priority
      width="700"
      height="600"
      alt="tarot cards image"
    />
  </div>
</section>
