<section class="catalog">
  <article class="catalog-card">
    <h2>Perguntas Objetivas</h2>
    <p class="poppins-regular">
      Indicado se você está com <b>dúvidas específicas</b> e precisa de
      orientações sobre elas
    </p>

    <ul class="poppins-regular">
      <li>1 pergunta - R$11</li>
      <li>3 pergunta - R$33</li>
      <li>5 pergunta - R$49</li>
    </ul>

    <a href="" class="poppins-bold">quero realizar uma pergunta objetiva</a>
  </article>

  <article class="catalog-card">
    <h2>Análise Aprofundada</h2>
    <p class="poppins-regular">
      Indicado se você quer uma <b>visão mais ampla</b> sobre alguma área (vida
      profissional, amorosa, espiritual, etc) ou sobre algum assunto no qual
      gostaria de se aprofundar e entender com mais clareza inclui uma tiragem
      aprofundada + 3 perguntas
    </p>

    <p class="poppins-regular">Valor: R$77</p>

    <a href="" class="poppins-bold">quero uma análise aprofundada</a>
  </article>

  <article class="catalog-card">
    <h2>Acompanhamento Mensal</h2>
    <p class="poppins-regular">
      <b>Acompanhamento personalizado,</b> a cada mês vemos as tendências e orientações
      sobre <b class="underline">4 principais áreas</b> da sua vida, além de entendermos a energia geral,
      <b class="underline">os aspectos criativos e desafiadores</b> referente ao mês que está/entrará.
      além disso, você receberá um conselho do oráculo
    </p>

    <p class="poppins-regular">Valor: R$83/mês</p>

    <a href="" class="poppins-bold">quero o acompanhamento mensal personalizado!</a>
  </article>

  <article class="catalog-card small-card">
    <h2>Mesa Real</h2>
    <p class="poppins-regular">
      <b>Em breve!! :)</b>
    </p>
  </article>
</section>
