<section class="presentation">
  <h3>Quem é a cartomante que vos fala?</h3>

  <p class="poppins-regular">
    Rebeca, beca, becky, rebs, como você preferir! Ama arte, música, cinema e
    sempre está aprendendo algo novo.
  </p>

  <p class="poppins-regular">
    Virginiana com ascendente em capricórnio e lua em virgem, iniciei minha
    jornada na cartomancia há 4 anos e venho trilhando esse fazer com muito
    estudo e dedicação. Hoje auxilio consulentes a partir da abordagem de
    aconselhamento e direcionamento, favorecendo o processo de olhar para dentro
    pra assim, despertar (com leveza), num espaço de acolhimento e escuta.
    Contudo, também olho para fora, minha prática não se descola do cenários
    políticos e sociais atuais e, com base em toda formação acadêmica — graduada
    em terapia ocupacional — me guio a partir da teoria materialista histórica
    e, também realizo estudos na abordagem analítica junguiana.
  </p>

  <span class="poppins-regular">Estou à disposição!</span>
</section>
