@import "../../../../../color-variables.scss";

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50vw;

  h3 {
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0;
  }

  p {
    text-align: justify;
  }

  span {
    align-self: flex-end;
  }
}
