<section class="presentation">
  <h3>Quem é a cartomante que vos fala?</h3>
  
  <p class="poppins-regular">
    Beca, sua mais nova cartomante & taróloga, começou a jornada lendo e
    interpretando as mensagens simbólicas das cartas há 4 anos. É virginiana com
    ascendente em capricórnio e vem trilhando esse fazer com muito estudo e
    dedicação. Hoje auxilia consulentes a partir da abordagem de aconselhamento
    e direcionamento. Favorecendo o processo do olhar para dentro, para assim,
    despertar (com leveza). Num espaço de acolhimento e escuta. E, para além de
    olhar para dentro, semeia uma prática que não se descola da realidade, seja
    ela política ou social, com base em sua formação acadêmica, guia-se a partir
    da teoria materialista histórica e dialética. Além disso, realiza estudos na
    abordagem analítica junguiana, para o enriquecimento das leituras
    oraculares.
  </p>

  <span class="poppins-regular">Estou à disposição!</span>
</section>
